body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url("stars-3750824.png");
    font-family: 'Ubuntu Mono', monospace;
    background-size: cover;
}
.atugras{
    height: 100vh;
    width: 100vh;
}
.atugras,
.nyitoiras{
    display: grid;
    align-items: center;
    text-align: center;
    margin: auto;
}
.nev{
    font-size: 6rem;
    color: #C7493A;
    position: relative;
    width: max-content;
}
.welcome{
    position: relative;
    color: white;
    width: max-content;
}
.nev::after,
.nev::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.welcome::after,
.welcome::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nev::before{
    background: #689775;
    animation: 
        typewriter 2s ease forwards;
}
.welcome::before{
    background: #C7493A;
    
    animation: 
        typewriter 2s ease forwards;
    animation-delay: 1s;
}
.nev::after{
    width:  0.125rem;
    background: rgb(255, 255, 255);
    animation: 
        typewriter 2s ease forwards;
}
.welcome::after{
    width:  0.125rem;
    background: rgb(255, 255, 255);
    animation: 
        typewriter 2s ease forwards;
    animation-delay: 1s;
}
@keyframes typewriter {
    to{
        left: 100%;
    }
}
.tartalom{
    width: 100vh;
    height: 100vh;
}